<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="intro login-form">
      <h1>
        Reset password
      </h1>

      <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password, class:'control-label' %><%= f.password_field :password, class:'form-control' %>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password_confirmation, class:'control-label' %><%= f.password_field :password_confirmation, class:'form-control' %>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="actions">
        <%= f.submit "Update Password", class:'btn btn-primary' %>
      </div><% end %>
    </div>
  </div>
</div>
