<div id="order-card-form-row" class="row">
  <div class="col-md-12">
    <fieldset>
    <%= form_for([@cart, @order_card], remote:true, class:'form') do |f| %>
    <div class="row">
      <div class="col-md-12">
        <p><b>Add a card?</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <% label_tag :card_name, "Card", class:'control-label' %>
        <%= text_field_tag('term', "", :placeholder => 'Search for a card', class: "form-control", id:'card_name', data:{ autocomplete_source: search_cards_url(origin:'cart') }) %>
        <%= f.hidden_field :card_id %>
        <%= f.hidden_field :current_price %>
        <%= hidden_field_tag :origin, 'cart' %>
      </div>
      <div class="col-md-2 form-group">
        <% label_tag :card_name, "Quantity", class:'control-label' %>
        <%= f.select(:quantity, options_for_select( (1..4).collect{|i| [i,i]}), {}, class:'form-control') %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 order-card-submit">
        <%= f.submit 'Add card', class:'btn btn-success btn-block' %>
      </div>
      <div class="col-md-4 order-card-cancel">
        <%= link_to 'cancel', '#', class:'btn btn-danger btn-block' %>
      </div>
    </div>
    </fieldset>
    <% end %>
  </div><!-- .col-md-12 -->
</div><!-- .row -->
