<h3>Login or Register</h3>
<div class="row">
  <div class="col-md-12">
    <p><b>New Customers</b></p>
    <p>Enter your email address below and a registration link will be sent to you. Follow the link in the email to verify your address and continue with your order!</p>
    <div id="invite-form" class="signin-register-row">
      <%= form_for(@invitation, html:{class:'form-inline'}, remote:true) do |f| %>
      <div class="input-group col-md-12">
        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
        <%= f.hidden_field :origin, value:"payment" %>
        <%= f.text_field :recipient_email, class:'form-control', placeholder:'Enter email' %>
        <span class="input-group-btn">
          <%= f.submit "Send", class:'btn btn-default' %>
        </span>
      </div>
      <% end %>
    </div>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <p><b>Have an account? Log in here.</b></p>

    <%= form_for(:session, url: sessions_path, html:{class:'form'}) do |f| %>
      <div class="form-group">
        <%= f.text_field :email, class:'form-control', placeholder:'Email' %>
      </div>
        <%= f.hidden_field :origin, value:"payment" %>
      <div class="form-group">
        <%= f.password_field :password, class:'form-control', placeholder:'Password' %>
      </div>

      <div class="form-group">
        <%= f.submit "Log in", class:'btn btn-default btn' %>
        <p id="password_reset-link">
          <%= link_to "forgotten password?", new_password_reset_path %>
        </p>
      </div>
    <% end %>
  </div>
</div>

