<tr>
  <td>
    <p class="dear-p">
      Dear <%= @order.user.first_name %>,
    </p>

    <p>Your order has shipped! The details of your order are shown below.</p>

    <% if @order.shipping_reference_no.present? %>
    <p>
      The tracking number for this order is <%= @order.shipping_reference_no %>.
      <br>
      Please be aware that it may take some time for the USPS tracking information to update.
    </p>
    <% end %>

    <p>
      Your order should arrive within 2 - 4 business days.
      <br>
      <%= link_to 'View a summary of your order here', order_path(@order.id) %>.
    </p>

    <p>
      <b>Remember that someone must be home to accept the package and sign for it.</b>
    </p>

    <p>
      Sincerely,<br>
      <b>SpareDeck</b>
    </p>

    <%= render partial:'orders_mailer/mailer_order_info', locals:{ order:@order, order_controls:true } %>

    <%= render partial:'layouts/email_order_summary', locals:{order:@order, order_cards_hash:@order_cards_hash} %>
  </td>
</tr>



