<h1>Listing stripe_charges</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Charge</th>
      <th>Amount</th>
      <th>Last 4 digits</th>
      <th>Card type</th>
      <th>Exp month</th>
      <th>Exp year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stripe_charges.each do |stripe_charge| %>
      <tr>
        <td><%= stripe_charge.order_id %></td>
        <td><%= stripe_charge.charge_id %></td>
        <td><%= stripe_charge.amount %></td>
        <td><%= stripe_charge.last_4_digits %></td>
        <td><%= stripe_charge.card_type %></td>
        <td><%= stripe_charge.exp_month %></td>
        <td><%= stripe_charge.exp_year %></td>
        <td><%= link_to 'Show', stripe_charge %></td>
        <td><%= link_to 'Edit', edit_stripe_charge_path(stripe_charge) %></td>
        <td><%= link_to 'Destroy', stripe_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stripe charge', new_stripe_charge_path %>
