<nav id="main-nav" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag(asset_path('sparedeck_logo_50.png')), root_path, class:'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:action] == 'about' %>"><%= link_to "How does it work?", about_path %></li>
        <li class="<%= 'active' if params[:action] == 'faq' %>"><%= link_to 'FAQ', faq_path %></li>
        <li><%= link_to "contact us", contact_path %></li>
        <% if current_user.present? && !current_user.guest %>
        <li class="<%= 'active' if params[:action] == 'account' %>"><%= link_to 'My account', account_path %></li>
          <% if current_user.has_role?(:admin) %>
          <li class="<%= 'active' if admin_controller? %>"><%= link_to 'Admin Dashboard', admin_dashboard_path %></li>
          <% end %>
        <% else %>
        <li><%= link_to 'Sign in', signin_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

